body {
    margin: 0;
    font-family: Arial;
    background: radial-gradient(circle at top, #1a0033, #0a0f2c);
    color: white;
    display: flex;
}

.sidebar {
    width: 230px;
    background: #0c0020;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 20px rgba(128,0,255,0.3);
}

    .sidebar h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar button {
        width: 100%;
        margin: 8px 0;
        padding: 10px;
        background: linear-gradient(45deg, purple, navy);
        border: none;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s;
    }

        .sidebar button.active {
            box-shadow: 0 0 10px purple;
        }

        .sidebar button:hover {
            transform: scale(1.05);
        }

.main {
    flex: 1;
    padding: 20px;
}

header {
    text-align: center;
}

input {
    display: block;
    margin: 20px auto;
    padding: 12px;
    width: 50%;
    border-radius: 10px;
    border: none;
    outline: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: #111;
    padding: 15px;
    border-radius: 12px;
    transition: 0.2s;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

    .card:hover {
        transform: translateY(-5px) scale(1.02);
        box-shadow: 0 0 15px purple;
    }

pre {
    background: black;
    padding: 10px;
    border-radius: 8px;
    max-height: 120px;
    overflow-y: auto;
}

.copy {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background: linear-gradient(45deg, #6a00ff, #001aff);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: purple;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    transition: 0.3s;
}
